* { box-sizing: border-box; }

body {
  font-family: sans-serif;
}


/* ---- isotope ---- */

.nni_grid {
  background: transparent !important;
  width: 100% !important;
  max-width: 100% !important;
}

/* clear fix */
.nni_grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ui group */

.ui-group {
  display: inline-block;
}

.ui-group h3 {
  display: inline-block;
  vertical-align: top;
  line-height: 32px;
  margin-right: 0.2em;
  font-size: 16px;
}

.ui-group .nni_button-group {
  display: inline-block;
  margin-right: 20px;
}

.nni_image {
    width: 100%;
    height: auto;
    margin: 0 0 -16px 0;
    /* border: 1px solid red; */
}

.nni_artist {
    width: 25%;
    padding: 4px 4px 4px 4px;
    overflow: hidden !important;
    transition: color 110ms ease-in-out; 
    /* transition: none !important; */
}
@media (max-width: 730px) {
    .nni_artist {
        width: 50%;
    }
}
.nni_no_results {
    width: 100% !important;
    max-width: 100% !important;
}

/* LightGallery */
.lg-sub-html, .lg-sub-html h1, .lg-sub-html h2, .lg-sub-html h3, .lg-sub-html h4, .lg-sub-html h5, .lg-sub-html h6, .lg-sub-html span {
    color: #eee !important;
}
.lg-actions .lg-next, .lg-actions .lg-prev {
    font-size: 40px !important;    
}
.lg-sub-html {
    font-size: 16px !important;
}
@media (max-width: 730px) {
    .lg-sub-html {
        font-size: 12px !important;
    }
    .lg-actions .lg-next, .lg-actions .lg-prev {
        font-size: 30px !important;    
    }
}

.nni_artist_gallery {
    display: none;
}
.nni_svg {
    color: #fff;
    height: 22px;
    margin: 0 8px;
}
.nni_svg_intagram {
}
.nni_svg_facebook {
}
.nni_svg_linekdin { 
}
.nni_svg_www {  
}
.nni_image {
    opacity: 0;
}

.nni_loader {
    text-align: center;
}

/* FILTERS */
.nni_filters {
    width: 100% !important;
    max-width: 100% !important;
    padding: 10px 10px;
    /* border: 1px solid #ccc; */
    margin: 10px 0 !important;
}
#nni_lightgallery {
    margin: 10px 0 !important;
}
.nni_filter_group {
    margin: 10px 25px 10px 0;
    display: inline-block !important;
}
.nni_filter_group h3 {
    font-size: 14px !important;
    font-weight: bold;
    color: #666;
    margin: 0 5px 5px 0;
    /* display: inline-block !important; */
    /* min-width: 50px; */
}


/* ---- button ---- */

.nni_button {
    display: inline-block;
    padding: 4px 12px;
    background: #fefefe;
    border: none;
    border-radius: 50em;
    border: 1px solid #ccc;
    color: #666;
    font-family: sans-serif;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none !important;
    margin-bottom: 3px;
}

.nni_button:hover {
    background-color: #eee;
    /* border: 1px solid #666;
    color: #fefefe; */
}

.nni_button:active,
.nni_button.is-checked {
    background-color: #666;
    border: 1px solid #666;
    color: #fefefe;
}

.nni_button.is-checked {
    color: #fefefe;
}

.nni_button:active {
}

.nni_toggle_filter {
    width: 20px;
    margin-bottom: -5px;
    vertical-align: top !important;
}
@media (min-width: 731px) {
    .nni_toggle_filter {
        display: none;   
    }
    .nni_filter_group_filters {
        display: inline-block !important;
    }
}
@media (max-width: 730px) {
    .nni_filter_group h3 { 
        cursor: pointer;
    }
    .nni_filter_group_filters {
        display: none; 
    }
    .nni_open .nni_filter_group_filters {
        display: inline-block !important;
    }
    .nni_open .nni_toggle_opened {
        display: none; 
    }
    .nni_open .nni_toggle_closed {
        display: inline-block !important;
    }
    
    .nni_filter_group:not(.nni_open) .nni_toggle_opened {
        display: inline-block !important;
    }
    .nni_filter_group:not(.nni_open) .nni_toggle_closed {
        display: none; 
    }
    .nni_filter_group.nni_open {
        width: 100% !important;
    }
}

/* ---- button-group ---- */

.nni_button-group:after {
content: '';
display: block;
clear: both;
}

.nni_button-group .nni_button {
float: left;
border-radius: 0;
margin-left: 0;
margin-right: 1px;
}

.nni_button-group .nni_button:first-child { border-radius: 0.5em 0 0 0.5em; }
.nni_button-group .nni_button:last-child { border-radius: 0 0.5em 0.5em 0; }